
<h1>  Future Plans </h1>

<h3>
  1. Language 
</h3>

<h3> 
  2. User's Location: Min and Max Distance
</h3>

<h3>
  3. Budget(US Dollars)
</h3>

<h3>
  4. Family Friendly?
</h3>

<h3>
5. How important are the following cateogries to me on a scale of 1 - 10
<br>
a. Cuisine
<br>
b. entertainment
<br>
c. relaxation
<br>
d. exercise
<br>
e. art
<br>
f. history

</h3>
